@import "../../sass/index.scss";

.landing {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  color: white;
  background-color: $colorPrimary;

  &__btn {
    position: absolute;
    bottom: 5rem;
  }

  &__quote {
    font-style: italic;
  }
}
